.recommended-reviews{
    display: block;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 15px;
}

.review-details-container{
    padding-bottom: 15px;
}

.review-item-container{
    padding-bottom: 15px;
    > .reviewer-name {
        font-weight: bold;
    }
    > .review-date {
        color: gray;
    }
}

.review-item-container > div{
    padding-bottom: 10px;
}

.reviewer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    > div {
        display: flex;
        align-items: center;

        > div {
            
            padding-right: 20px;
        }
    }
}

.reviewer-name{
    font-weight: bold;
}

.user-icon{
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.edit-delete-button{
    background-color: rgb(242, 68, 68);
    color: white;
    border-style: none;
    margin-right: 5px;
    border-radius: 4px;
}

.edit-delete-button:hover{
    cursor: pointer;
    box-shadow: 0 0 18px rgba(242, 68, 68, 0.2);
}