.review-submit-wrapper > .nav-bar-wrapper{
    border-bottom: 1px lightgray solid;
}

.review-nav-bar{
    padding: 10px 60px;
    border-bottom: solid 1px gray;
}

.review-submit-form {
    text-align: center;
}