.search-result-page .business-nav-bar-container{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.search-results-wrapper{
    padding-top: 30px;
    min-width: 1200px;
    margin: 0 auto;
    display: table;

    > div {
        display: table-cell;
        min-width: 700px;
        vertical-align: top;
    }
}

.search-results-list-header{
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

.search-results-container{
    
}

#search-results-map #map-container{
    width: 700px;
    height: 900px;
}

#search-results-map{
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 20px;
    margin-top: -20px;
    z-index: 1
}