.search-result-page .business-nav-bar-container{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.search-results-wrapper{
    padding-top: 30px;
    min-width: 1200px;
    border: 2px solid black;
    margin: 0 auto;
    display: table;

    > div {
        display: table-cell;
        min-width: 700px;
        border: 1px solid blue;
        vertical-align: top;
    }
}

.search-results-container{
    
}

.search-results-map #search-results-map{
    
}