.homepage-searchbar{
    min-width: 600px;
    max-width: 800px;
    margin: 0 auto;
}
.homepage-searchbar .searchbar-container{ 
    border: 1px solid transparent; 
    margin-right: 25px;
}

.homepage-searchbar .searchbar-form{
    display: table;
    height: 40px;
    width: 100%;
    > div{
        display: table-cell;
        height: 100%;
    }
}


.homepage-searchbar .search-inputs{
    width: 92%;
    
    > input{
        box-sizing: border-box;
        height: 100%;
        width: 50%;
        border-style: none;
        padding: 10px;
    }
}

#keyword-search{
    border-right: 2px solid lightgray;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.homepage-searchbar .search-submit{
    width: 8%;

    > button{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        background-color: red;
        border-style: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: white
    }
}