.business-show-header-container{
    position: relative;
}
.business-images-container{
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: flex-start;
    left: 0;
    right: 0;
    padding-top: 40px;
    margin: auto;
    padding-bottom: 40px;
    border: 2px solid yellow;
}

.business-images-container::after{
    background-blend-mode: overlay;
    position: absolute;
    background-image: linear-gradient(to bottom, transparent 50%, #000);
    content: "";
    padding-left:  64px;
    padding-right: 64px;
    height: 350px;
    width: 100%;
}

.business-images{
    height: 350px;
    width: 570px;
    object-fit: cover;
}


.business-info-container{
    position: absolute;
    z-index: 1;
    align-self: flex-end;
    margin-left: 15%;
}

.business-name{
    font-family: Teko;
    font-size: 50px;
    color: white;
    font-weight: bolder;
}

.business-categories{
    display: inline;
    padding-right: 10px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

.business-show-rating{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    color: white;

}