.business-show-body-container-outter{
    min-width: 1400px;
    max-width: 100%;
    margin-top: 40px;
    // border: 3px solid blue
}

.business-show-body-container-inner{
    max-width: 1200px;
    padding: 0 350px;
    margin: 0 auto;
    // border: 2px solid red
}

.business-show-body-table-layout{
    display: table;
    min-width: 100%;
    border-spacing: 10px;
}