.business-show-body-container-outter{
    min-width: 1224px;
    border: 3px solid blue
}

.business-show-body-container-inner{
    min-width: 1144px;
    padding: 0 40px;
    margin: 0 auto;
    border: 2px solid red
}

.business-show-body-table-layout{
    display: flex;
    min-width: 100%;

}