.body-container-left{
    display: table-cell;
    box-sizing: border-box;
    width: 66.67%;
    vertical-align: top;
    padding-right: 20px;
}

.body-container-left > div{
    border-top: 1px gray solid;
    padding-top: 25px;
    margin-top: 25px;
}

.business-show-write-review{
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 7px;
    border-radius: 5px;
    border-style: none;
}

.business-show-write-review:hover{
    cursor: pointer;
    box-shadow: 0 0 18px rgba(0,0,0,0.1);
}

// LOCATION & SCHEDULE
.location-and-schedule{
    display: table;
    min-width: 100%;
    > div {
        display: table-cell;
    }
}

#location-and-schedule-header{
    display: block;
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
}

.schedule{
    display: flex;
    justify-content: space-between;
    width: 250px;
    > div {
        display: inline-block;
        font-weight: bold;
    }
}

