.hot-new-businesses{
    text-align: center;
    margin-top: 30px;
    color: rgb(255, 82, 82);
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
}

.business-index-list-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.business-index-item{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 7px;
}

.business-index-list a{
    color: #0073bb;
    text-decoration: none;
}

.business-index-list a:hover{
    cursor: pointer;
}

.business-index-descript {
    padding: 10px;

    .business-index-name{
        font-size: 20px;
        font-weight: bold;
    }
    > div {
    margin-left: 10px;
    padding-bottom: 8px;
    }
}

.business-index-name:hover{
    text-decoration: underline;
}

.business-index-categories{
    display: inline;
    color: black
}

.business-index-picture {
    height: 250px;
    width: 350px;
}

.business-index-rating{
    color: black
}