.hot-new-businesses{
    text-align: center;
    margin-top: 30px;
    color: rgb(255, 82, 82);
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
}

.business-index-list-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 900px;
    margin: 0 auto;
}

.business-index-item{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 7px;
}

.business-index-list a{
    text-decoration: none;
}

.business-index-list a:hover{
    cursor: pointer;
}

.business-index-descript > div{
    margin-left: 10px;
    padding-bottom: 5px;
}

.business-index-categories{
    display: inline;
    color: black
}

.business-index-picture {
    height: 150px;
    width: 250px;
}

.business-index-rating{
    color: black
}