.top-half-page{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 570px;
    background-color: #333;
    background-color: black;
    background-size: cover;
    background-position:bottom;
    background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLUIZDaXJOExvfmgVYOx-T6ahGmKg6ADekOQgUqxzSm3MbuV9iTtSqz8xI3-e-xvTqjihL6TM3IuR8GUF8owdJPheoX_leiiCMEZXmu3LQ30wGKW2eNMB63tp3999BcoboZNEqK20o271yLFfZuo2667=w861-h575-no?authuser=0)
}

.header-container{
    height: 570px;
    width: 100%;
    float: right;
}

.top-half-page .yupit-logo{
    position: absolute;
    flex-shrink: 0;
}

.yupit-logo > img {
    height: 200px;
    width: auto;

}

.header-container > .nav-bar{
    vertical-align: top;
}

.nav-bar-right{
    display: flex;
    font-size: 16px;
    float: right;
    margin-right: 20%;
    width: 300px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: transparent;
	font-weight: 600;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    left: 0;
}

.nav-bar-right a:visited{
    color: inherit;
}

.signup-button a{
    display: inline-block;
    border: 2px solid white;
	padding: 10px;
	border-radius: 3px;
    text-decoration: none;
}

.signup-button:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
}

.signin-button a{
    display: inline-block;
    padding: 10px;  
    text-decoration: none;
}

.signin-button a:hover {
    border-bottom: 2px white solid;
}


.loggedin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    color: white;
    width: 100%;
    padding: 10px;
	border-radius: 3px;
    text-decoration: none;
	text-transform: uppercase;
}

.logout-button{
    font-size: 16px;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px;
	border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.logout-button:hover{
    background: white;
    color: black;
}